<!--The full content of the web page-->
<% provide(:title, 'Other Desert Cities') %>
<% provide(:issue_number, '#1') %>
<% provide(:issue_date, '12/12/2012') %>


<div id="calendar">
	<table>

		<%= render 'layouts/day_names' %>

									<!-- FIRST ROW -->
		<%= render 'layouts/first_row_dates' %>
		<%= render 'layouts/first_row_banners' %>
		<%= render 'layouts/first_row_events' %>

									<!-- SECOND ROW -->

		<%= render 'layouts/second_row_dates' %>
		<%= render 'layouts/second_row_banners' %>
		<%= render 'layouts/second_row_events' %>

									<!-- THIRD ROW -->

		<%= render 'layouts/third_row_dates' %>
		<%= render 'layouts/third_row_banners' %>
		<%= render 'layouts/third_row_events' %>

									<!-- FOURTH ROW -->

		<%= render 'layouts/fourth_row_dates' %>
		<%= render 'layouts/fourth_row_banners' %>
		<%= render 'layouts/fourth_row_events' %>

									<!-- FIFTH ROW -->

		<%= render 'layouts/fifth_row_dates' %>
		<%= render 'layouts/fifth_row_banners' %>
		<%= render 'layouts/fifth_row_events' %>
	</table>
</div>
