<div id="calendar">
	<table>

		<%= render 'layouts/day_names' %>

									<!-- FOURTH ROW -->

		<%= render 'layouts/fourth_row_dates' %>
		<%= render 'layouts/fourth_row_banners' %>
		<%= render 'layouts/fourth_row_events' %>

									<!-- FIFTH ROW -->

		<%= render 'layouts/fifth_row_dates' %>
		<%= render 'layouts/fifth_row_banners' %>
		<%= render 'layouts/fifth_row_events' %>

	</table>
</div>
