<!-- _row-27-banners.html.erb -->

<!-- Stripe 1 -->

<tr>
	<td class="o"> </td>
	<td class="b" colspan=2>
		<p class="boxed show">FOCUS</p>
	</td>
	<td class="o holiday"> </td>
	<td class="b" colspan=3>
		<p class="boxed show">TECH REHEARSALS</p>
	</td>
</tr>
	
<%= render 'layouts/spacer_row_holiday_thurs' %>


<!-- Stripe 2 -->

<tr>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="b" colspan=1>
		<p class="boxed travel">Todd Rosenthal in LA? >></p>
	</td>
	<td class="o holiday"> </td>
	<td class="b" colspan=3>
		<p class="boxed travel flushright">Todd Rosenthal in LA >></p>
	</td>
</tr>

<%= render 'layouts/spacer_row_holiday_thurs' %>


<!-- Stripe 3 -->


<tr>
	<td class="o"> </td>
	<td class="b" colspan=6>
		<p class="boxed travel flushright">Rob Milburn in LA >></p>
	</td>
</tr>

<%= render 'layouts/spacer_row_holiday_thurs' %>


<!-- Stripe 4 -->


<tr>
	<td class="o"> </td>
	<td class="b" colspan=4>
		<p class="boxed travel flushright">Lighting Associate in LA >></p>
	</td>
	<td class="b" colspan=3>
		<p class="boxed travel flushright">Jim Ingalls in LA >></p>
	</td>
</tr>

<%= render 'layouts/spacer_row_holiday_thurs' %>


<!-- Stripe 5 -->

<tr>
	<td class="o"> </td>
	<td class="b" colspan=6>
		<p class="boxed">Parallelogram - Rehearsal Week 4</p>
	</td>
</tr>

<%= render 'layouts/spacer_row_holiday_thurs' %>

