<% provide(:title, "A Parallelogram - Production") %>
<% provide(:issue_number, '#1') %>
<% provide(:issue_date, '5/5/2013') %>

<div id="calendar">
	<table>

		<%= render 'layouts/day_names' %>

									<!-- FIRST ROW -->
		<%= render 'layouts/row-18-dates' %>
		<%= render 'parallel/row-18-banners' %>
		<%= render 'parallel/row-18-events' %>

									<!-- SECOND ROW -->
		<%= render 'layouts/row-19-dates' %>
		<%= render 'parallel/row-19-banners' %>
		<%= render 'parallel/row-19-events' %>

									<!-- THIRD ROW -->
		<%= render 'layouts/row-20-dates' %>
		<%= render 'parallel/row-20-banners' %>
		<%= render 'parallel/row-20-events' %>

									<!-- FOURTH ROW -->
		<%= render 'layouts/row-21-dates' %>
		<%= render 'parallel/row-21-banners' %>
		<%= render 'parallel/row-21-events' %>

									<!-- FIFTH ROW -->
		<%= render 'layouts/row-22-dates' %>
		<%= render 'parallel/row-22-banners' %>
		<%= render 'parallel/row-22-events' %>


		<%= render 'layouts/day_names_multi_page' %>


									<!-- SIXTH ROW -->
		<%= render 'layouts/row-23-dates' %>
		<%= render 'parallel/row-23-banners' %>
		<%= render 'parallel/row-23-events' %>

									<!-- SEVENTH ROW - Turner Load-out -->
		<%= render 'layouts/row-24-dates' %>
		<%= render 'parallel/row-24-banners' %>
		<%= render 'parallel/row-24-events' %>

									<!-- EIGHTH ROW -->
		<%= render 'layouts/row-25-dates' %>
		<%= render 'parallel/row-25-banners' %>
		<%= render 'parallel/row-25-events' %>

									<!-- NINTH ROW -->
		<%= render 'layouts/row-26-dates' %>
		<%= render 'parallel/row-26-banners' %>
		<%= render 'parallel/row-26-events' %>


		<%= render 'layouts/day_names_multi_page' %>


									<!-- TENTH ROW -->
		<%= render 'layouts/row-27-dates' %>
		<%= render 'parallel/row-27-banners' %>
		<%= render 'parallel/row-27-events' %>

									<!-- ELEVENTH ROW -->
		<%= render 'layouts/row-28-dates' %>
		<%= render 'parallel/row-28-banners' %>
		<%= render 'parallel/row-28-events' %>

									<!-- TWELFTH ROW -->
		<%= render 'layouts/row-29-dates' %>
		<%= render 'parallel/row-29-banners' %>
		<%= render 'parallel/row-29-events' %>



	</table>
</div>
