<% provide(:title, "A Parallelogram - Tech") %>
<% provide(:issue_number, '#4') %>
<% provide(:issue_date, '6/14/2013') %>

<div id="calendar">
	<table>

		<%= render 'layouts/day_names' %>

									<!-- FIRST ROW -->

									<!-- SECOND ROW -->

									<!-- THIRD ROW -->

									<!-- FOURTH ROW -->

									<!-- FIFTH ROW -->


									<!-- SIXTH ROW -->
		<%= render 'layouts/row-23-dates' %>
		<%= render 'parallel/row-23-banners' %>
		<%= render 'parallel/row-23-events' %>

									<!-- SEVENTH ROW - Turner Load-out -->
		<%= render 'layouts/row-24-dates' %>
		<%= render 'parallel/row-24-banners' %>
		<%= render 'parallel/row-24-events' %>

									<!-- EIGHTH ROW -->
		<%= render 'layouts/row-25-dates' %>
		<%= render 'parallel/row-25-banners' %>
		<%= render 'parallel/row-25-events' %>

									<!-- NINTH ROW -->
		<%= render 'layouts/row-26-dates' %>
		<%= render 'parallel/row-26-banners' %>
		<%= render 'parallel/row-26-events' %>


		<%= render 'layouts/day_names_multi_page' %>


									<!-- TENTH ROW -->
		<%= render 'layouts/row-27-dates' %>
		<%= render 'parallel/row-27-banners' %>
		<%= render 'parallel/row-27-events' %>

									<!-- ELEVENTH ROW -->
		<%= render 'layouts/row-28-dates' %>
		<%= render 'parallel/row-28-banners' %>
		<%= render 'parallel/row-28-events' %>

									<!-- TWELFTH ROW -->
		<%= render 'layouts/row-29-dates' %>
		<%= render 'parallel/row-29-banners' %>
		<%= render 'parallel/row-29-events' %>



	</table>
</div>
