<% provide(:title, "A Parallelogram - Tech") %>
<% provide(:issue_number, '#12') %>
<% provide(:issue_date, '7/20/2013') %>

<div id="calendar">
	<table>

		<%= render 'layouts/day_names' %>

									<!-- FIRST ROW -->

									<!-- SECOND ROW -->

									<!-- THIRD ROW -->

									<!-- FOURTH ROW -->

									<!-- FIFTH ROW -->


									<!-- EIGHTH ROW -->

									<!-- NINTH ROW -->



									<!-- TENTH ROW -->
		<%= render 'layouts/row-27-dates' %>
		<%= render 'parallel/row-27-banners' %>
		<%= render 'parallel/row-27-events' %>

									<!-- ELEVENTH ROW -->
		<%= render 'layouts/row-28-dates' %>
		<%= render 'parallel/row-28-banners' %>
		<%= render 'parallel/row-28-events' %>

									<!-- TWELFTH ROW -->
		<%= render 'layouts/row-29-dates' %>
		<%= render 'parallel/row-29-banners' %>
		<%= render 'parallel/row-29-events' %>



	</table>
</div>
