<% provide(:title, "Joe Turner's Come and Gone - Production") %>
<% provide(:issue_number, '#1') %>
<% provide(:issue_date, '3/20/2013') %>

<div id="calendar">
	<table>

		<%= render 'layouts/day_names' %>

									<!-- FIRST ROW -->
		<%= render 'turner/row-11-dates' %>
		<%= render 'tribes/row-06-banners' %>
		<%= render 'tribes/row-06-events' %>

									<!-- SECOND ROW -->
		<%= render 'turner/row-12-dates' %>
		<%= render 'tribes/row-07-banners' %>
		<%= render 'tribes/row-07-events' %>

									<!-- THIRD ROW -->
		<%= render 'turner/row-13-dates' %>
		<%= render 'tribes/row-08-banners' %>
		<%= render 'tribes/row-08-events' %>

									<!-- FOURTH ROW -->
		<%= render 'turner/row-14-dates' %>
		<%= render 'tribes/row-09-banners' %>
		<%= render 'tribes/row-09-events' %>

									<!-- FIFTH ROW -->
		<%= render 'turner/row-15-dates' %>
		<%= render 'tribes/row-10-banners' %>
		<%= render 'tribes/row-10-events' %>

									<!-- SIXTH ROW -->
		<%= render 'turner/row-16-dates' %>
		<%= render 'tribes/row-10-banners' %>
		<%= render 'tribes/row-10-events' %>

									<!-- SEVENTH ROW -->
		<%= render 'turner/row-17-dates' %>
		<%= render 'tribes/row-10-banners' %>
		<%= render 'tribes/row-10-events' %>

									<!-- EIGHTH ROW -->
		<%= render 'turner/row-18-dates' %>
		<%= render 'tribes/row-10-banners' %>
		<%= render 'tribes/row-10-events' %>

									<!-- NINTH ROW -->
		<%= render 'turner/row-19-dates' %>
		<%= render 'tribes/row-10-banners' %>
		<%= render 'tribes/row-10-events' %>




	</table>
</div>
