<% provide(:title, "Joe Turner's Come and Gone - Production") %>
<% provide(:issue_number, '#4') %>
<% provide(:issue_date, '4/17/2013') %>

<div id="calendar">
	<table>

		<%= render 'layouts/day_names' %>

									<!-- FIRST ROW -->


									<!-- SECOND ROW -->
		<%= render 'turner/row-12-dates' %>
		<%= render 'turner/row-12-banners' %>
		<%= render 'turner/row-12-events' %>

									<!-- THIRD ROW -->
		<%= render 'turner/row-13-dates' %>
		<%= render 'turner/row-13-banners' %>
		<%= render 'turner/row-13-events' %>

									<!-- FOURTH ROW -->
		<%= render 'turner/row-14-dates' %>
		<%= render 'turner/row-14-banners' %>
		<%= render 'turner/row-14-events' %>

									<!-- FIFTH ROW -->
		<%= render 'turner/row-15-dates' %>
		<%= render 'turner/row-15-banners' %>
		<%= render 'turner/row-15-events' %>

									<!-- SIXTH ROW -->
		<%= render 'turner/row-16-dates' %>
		<%= render 'turner/row-16-banners' %>
		<%= render 'turner/row-16-events' %>

									<!-- SEVENTH ROW -->
		<%= render 'turner/row-17-dates' %>
		<%= render 'turner/row-17-banners' %>
		<%= render 'turner/row-17-events' %>

									<!-- EIGHTH ROW -->
		<%= render 'turner/row-18-dates' %>
		<%= render 'turner/row-18-banners' %>
		<%= render 'turner/row-18-events' %>

									<!-- NINTH ROW -->
		<%= render 'turner/row-19-dates' %>
		<%= render 'turner/row-19-banners' %>
		<%= render 'turner/row-19-events' %>




	</table>
</div>
