<% provide(:title, "Joe Turner's Come and Gone - Tech and Previews") %>
<% provide(:issue_number, '#8') %>
<% provide(:issue_date, '4/24/2013') %>

<div id="calendar">
	<table>

		<%= render 'layouts/day_names' %>

									<!-- FIRST ROW -->


									<!-- SECOND ROW -->


									<!-- THIRD ROW -->


									<!-- FOURTH ROW -->


									<!-- FIFTH ROW -->


									<!-- SIXTH ROW -->
		<%= render 'turner/row-16-dates' %>
		<%= render 'turner/row-16-banners' %>
		<%= render 'turner/row-16-events' %>


		<%= render 'layouts/day_names_multi_page' %>


									<!-- SEVENTH ROW -->
		<%= render 'turner/row-17-dates' %>
		<%= render 'turner/row-17-banners' %>
		<%= render 'turner/row-17-events' %>

									<!-- EIGHTH ROW -->
		<%= render 'turner/row-18-dates' %>
		<%= render 'turner/row-18-banners' %>
		<%= render 'turner/row-18-events' %>


		<%= render 'layouts/day_names_multi_page' %>


									<!-- NINTH ROW -->
		<%= render 'turner/row-19-dates' %>
		<%= render 'turner/row-19-banners' %>
		<%= render 'turner/row-19-events' %>





	</table>
</div>
