<!-- _row-08-banners.html.erb -->
																											<!-- Stripe 1 -->
<tr>
	<td class="o holiday"> </td>
	<td class="b" colspan=2>
		<p class="boxed show">Focus, Rehearsals on stage</p>
	</td>
	<td class="b" colspan=4>
		<p class="boxed show">Tribes - TECH</p>
	</td>
</tr>
<%= render 'layouts/spacer_row_holiday_mon' %>

																											<!-- Stripe 2 -->
<tr>
	<td class="o holiday"> </td>
	<td class="b" colspan=6>
		<p class="boxed travel">Bones on Backbeat</p>
	</td>
</tr>
<%= render 'layouts/spacer_row_holiday_mon' %>

																											<!-- Stripe 3 -->
<tr>
	<td class="b" colspan=7>
		<p class="boxed travel bleed">Keith Parham (LD), Jeff Sugg (Proj), Tristan Raines (Cost) in L.A. >></p>
	</td>
</tr>

<%= render 'layouts/spacer_row_holiday_mon' %>



																											<!-- Stripe 4 -->
<tr>
	<td class="o holiday"> </td>
	<td class="o"> </td>
	<td class="b" colspan=5>
		<p class="boxed travel flushright">David Cromer (Director), Daniel Kluger (Sound) in L.A. >></p>
	</td>
</tr>
<%= render 'layouts/spacer_row_holiday_mon' %>


																											<!-- Stripe 5 -->
<tr>
	<td class="b" colspan=3>
		<p class="boxed travel flushleft">Leah Loukas (Wig/M-U) in L.A.</p>
	</td>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="o"> </td>
	
</tr>
<%= render 'layouts/spacer_row_holiday_mon' %>
