<% provide(:title, 'Tribes - Production') %>
<% provide(:issue_number, '#2') %>
<% provide(:issue_date, '2/1/2013') %>

<div id="calendar">
	<table>

		<%= render 'layouts/day_names' %>

									<!-- FIRST ROW -->
		<%= render 'tribes/row-06-dates' %>
		<%= render 'tribes/row-06-banners' %>
		<%= render 'tribes/row-06-events' %>

									<!-- SECOND ROW -->

		<%= render 'tribes/row-07-dates' %>
		<%= render 'tribes/row-07-banners' %>
		<%= render 'tribes/row-07-events' %>

									<!-- THIRD ROW -->
		<%= render 'tribes/row-08-dates' %>
		<%= render 'tribes/row-08-banners' %>
		<%= render 'tribes/row-08-events' %>

									<!-- FOURTH ROW -->

		<%= render 'tribes/row-09-dates' %>
		<%= render 'tribes/row-09-banners' %>
		<%= render 'tribes/row-09-events' %>

									<!-- FIFTH ROW -->
		<%= render 'tribes/row-10-dates' %>
		<%= render 'tribes/row-10-banners' %>
		<%= render 'tribes/row-10-events' %>




	</table>
</div>
