<% provide(:title, 'Tribes - Production - Weeks 1, 2, 3') %>
<% provide(:issue_number, '#3') %>
<% provide(:issue_date, '2/4/2013') %>

<div id="calendar">
	<table>

		<%= render 'layouts/day_names' %>

									<!-- FIRST ROW -->
		<%= render 'tribes/row-06-dates' %>
		<%= render 'tribes/row-06-banners' %>
		<%= render 'tribes/row-06-events' %>

									<!-- SECOND ROW -->

		<%= render 'tribes/row-07-dates' %>
		<%= render 'tribes/row-07-banners' %>
		<%= render 'tribes/row-07-events' %>

									<!-- THIRD ROW -->
		<%= render 'tribes/row-08-dates' %>
		<%= render 'tribes/row-08-banners' %>
		<%= render 'tribes/row-08-events' %>


	</table>
</div>