<% provide(:title, 'Tribes - Production - Weeks 4, 5') %>
<% provide(:issue_number, '#3') %>
<% provide(:issue_date, '2/4/2013') %>

<div id="calendar">
	<table>

									<!-- FOURTH ROW -->

		<%= render 'tribes/row-09-dates' %>
		<%= render 'tribes/row-09-banners' %>
		<%= render 'tribes/row-09-events' %>

									<!-- FIFTH ROW -->
		<%= render 'tribes/row-10-dates' %>
		<%= render 'tribes/row-10-banners' %>
		<%= render 'tribes/row-10-events' %>

	</table>
</div>