<!-- odccal/dark_weeks - Enter Laughing -->

<% provide(:title, 'Enter Laughing') %>
<% provide(:issue_number, '#1') %>
<% provide(:issue_date, '1/23/2013') %>

<div id="calendar">
	<table>

		<%= render 'layouts/day_names' %>


									<!-- FOURTH ROW -->

		<%= render 'dark_weeks/row-04-dates' %>
		<%= render 'dark_weeks/row-04-banners' %>
		<%= render 'dark_weeks/row-04-events' %>

									<!-- FIFTH ROW -->

		<%= render 'dark_weeks/row-05-dates' %>
		<%= render 'dark_weeks/row-05-banners' %>
		<%= render 'dark_weeks/row-05-events' %>






	</table>
</div>
