<!-- _row-37-banners.html.erb -->

<!-- Stripe 1 -->

<tr>
	<td class="o"> </td>
	<td class="b" colspan=2>
		<p class="boxed show">FOCUS</p>
	</td>
	<td class="b" colspan=3>
		<p class="boxed show">TECH REHEARSALS</p>
	</td>
		<td class="b" colspan=1>
		<p class="boxed show">Final Dress</p>
	</td>

</tr>
	
<%= render 'layouts/spacer_row' %>


<!-- Stripe 2 -->

<tr>
	<td class="o"> </td>
	<td class="b" colspan=6>
		<p class="boxed travel flushright">Ben Stanton in LA >></p>
	</td>
</tr>

<%= render 'layouts/spacer_row' %>


<!-- Stripe 3 -->


<tr>
	<td class="o"> </td>
	<td class="b" colspan=6>
		<p class="boxed travel flushright">Bart Fasbender in LA >></p>
	</td>
</tr>

<%= render 'layouts/spacer_row' %>


<!-- Stripe 4 -->


<tr>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="b" colspan=5>
		<p class="boxed travel flushright">Brian Fauska in LA >></p>
	</td>
</tr>

<%= render 'layouts/spacer_row' %>


<!-- Stripe 5 -->

<tr>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="b" colspan=3>
		<p class="boxed travel flushright">Hannah Cohen in LA</p>
	</td>
</tr>

<%= render 'layouts/spacer_row' %>


