<% provide(:title, "Humor Abuse") %>
<% provide(:issue_number, '#1') %>
<% provide(:issue_date, '5/5/2013') %>

<div id="calendar">
	<table>

		<%= render 'layouts/day_names' %>

									<!-- FIRST ROW - week 33 - Parallelogram Closing -->
		<%= render 'layouts/row-33-dates' %>
		<%= render 'turner/row-14-banners' %>
		<%= render 'turner/row-14-events' %>

									<!-- SECOND ROW - week 34 - Parallelogram Load-out -->
		<%= render 'layouts/row-34-dates' %>
		<%= render 'turner/row-14-banners' %>
		<%= render 'turner/row-14-events' %>

									<!-- THIRD ROW - week 35 - Dark -->
		<%= render 'layouts/row-35-dates' %>
		<%= render 'turner/row-14-banners' %>
		<%= render 'turner/row-14-events' %>

									<!-- FOURTH ROW - week 36 - Humor Pre-rig and Load-in-->
		<%= render 'layouts/row-36-dates' %>
		<%= render 'turner/row-14-banners' %>
		<%= render 'turner/row-14-events' %>

									<!-- FIFTH ROW - week 37 - Humor Tech / Previews -->
		<%= render 'layouts/row-37-dates' %>
		<%= render 'turner/row-15-banners' %>
		<%= render 'turner/row-15-events' %>

									<!-- SIXTH ROW - week 38 - Humor Previews / Opening -->
		<%= render 'layouts/row-38-dates' %>
		<%= render 'turner/row-16-banners' %>
		<%= render 'turner/row-16-events' %>

									<!-- SEVENTH ROW - week 39 - Humor Running week 02-->
		<%= render 'layouts/row-39-dates' %>


									<!-- EIGHTH ROW - week 40 - Humor Running week 03 -->
		<%= render 'layouts/row-40-dates' %>


									<!-- NINTH ROW - week 41 - Humor Running week 04 -->
		<%= render 'layouts/row-41-dates' %>




	</table>
</div>
