<% provide(:title, "Humor Abuse - Production") %>
<% provide(:issue_number, '#1') %>
<% provide(:issue_date, '5/5/2013') %>

<div id="calendar">
	<table>

		<%= render 'layouts/day_names' %>

									<!-- FIRST ROW -->


									<!-- SECOND ROW -->


									<!-- THIRD ROW -->


									<!-- FOURTH ROW -->
		<%= render 'steward/row-44-dates' %>
		<%= render 'turner/row-14-banners' %>
		<%= render 'turner/row-14-events' %>

									<!-- FIFTH ROW -->
		<%= render 'steward/row-45-dates' %>
		<%= render 'turner/row-15-banners' %>
		<%= render 'turner/row-15-events' %>

									<!-- SIXTH ROW -->
		<%= render 'steward/row-46-dates' %>
		<%= render 'turner/row-16-banners' %>
		<%= render 'turner/row-16-events' %>

									<!-- SEVENTH ROW -->
		<%= render 'steward/row-47-dates' %>
		<%= render 'turner/row-17-banners' %>
		<%= render 'turner/row-17-events' %>

									<!-- EIGHTH ROW -->
		<%= render 'steward/row-48-dates' %>
		<%= render 'turner/row-18-banners' %>
		<%= render 'turner/row-18-events' %>

									<!-- NINTH ROW -->
		<%= render 'steward/row-49-dates' %>
		<%= render 'steward/row-49-banners' %>
		<%= render 'steward/row-49-events' %>




	</table>
</div>
