<% provide(:title, "Humor Abuse - Tech") %>
<% provide(:issue_number, '#1') %>
<% provide(:issue_date, '9/10/2013') %>

<div id="calendar">
	<table>

		<%= render 'layouts/day_names' %>

									<!-- FIFTH ROW - week 37 - Humor Tech / Previews -->
		<%= render 'layouts/row-37-dates' %>
		<%= render 'humor/row-37-banners' %>
		<%= render 'humor/row-37-events' %>

									<!-- SIXTH ROW - week 38 - Humor Previews / Opening -->
		<%= render 'layouts/row-38-dates' %>
		<%= render 'humor/row-38-banners' %>
		<%= render 'humor/row-38-events' %>

									<!-- SEVENTH ROW - week 39 - Humor Running week 02-->
		<%= render 'layouts/row-39-dates' %>
		<%= render 'humor/row-39-banners' %>
		<%= render 'humor/row-39-events' %>		


	</table>
</div>
